body {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "YuGothic", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CEDDDF;
}


/* Header */
.header {
  width: 100%;
  height: 100px;
  background-color: #CEDDDF;
  margin: 0 auto;

}

.time{
 margin: 50px;
}

.header-logo {
  width: auto;
  height: 130px;
  margin: 30px auto;
  float: left;
}

.h1 {
  
  color: #458DD5;
  font-size: 300%;
  font-weight: bold;
  margin: 10px;
}

/* Main */
.todo-page {
  width: 80%;
  height: auto;
  background-color: #fff;
  margin: 0px auto;
  padding-bottom: 80px;
}


/* Counter */
.todo-counter {
  width: auto;
  height: 40px;
  padding: 20px;
}

.remaining-img {
  float: left;
  width: auto;
  height: 40px;
  margin: 0px 16px 0px 0px;
}

.remaining span {
  float: left;
  color: #F48FB1;
  font-size: 42px;
  font-weight: bold;
  margin: -6px 0 0 0;
}

.completed-img {
  float: right;
  width: auto;
  height: 60px;
  margin: 8px 8px 0px 0px;
}

.completed span {
  float: right;
  color: #80DEEA;
  font-size: 55px;
  font-weight: bold;
  margin: 1px 0 0 0;
}


/* List */
.todo-list {
  width: auto;
  padding: 10px 34px;
  margin-bottom: 11px;
}

.todo-list ul {
  padding: 0px;
  margin: 0px;
}

.todo {
  height: 150px;
  list-style: none;
  background-color: #ECEFF1;
  margin-bottom: 8px;
  vertical-align: middle;
  line-height: 42px;
}

.todo-id {
  float: left;
  font-size: 34px;
  font-weight: bold;
  color: #9b9c31;
  margin-left: 11px;
}

.todo-text {
  float: left;
  font-size: 50px;
  font-weight: bold;
  color: #d8745b;
  margin-left: 9px;
}

.todo-title {
  float: left;
  font-size: 40px;
  font-weight: bold;
  color: #455A64;
  margin-left: 25px;
}

.todo-complete {
  float: right;
  width: auto;
  height: 60px;
  padding: 12px;
  cursor: pointer;
}

.todo-delete {
  float: right;
  width: auto;
  height: 60px;
  padding: 12px;
  cursor: pointer;
}


/* Form */
.todo-form {
  display: flex;
  width: auto;
  height: 40px;
  margin: 0 16px;
}

.todo-input {
  flex: 1;
  width: 80%;
  height: 38px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 1px solid #BBBBBB;
  text-indent: 8px;
}

.todo-submit-button {
  width: 96px;
  margin-left: 8px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #F48FB1;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.add {
  float: right;
  width: auto;
  height: 60px;
  padding: 12px;
  cursor: pointer;
  color: #E05D5D;
}

.todo-submit-button:hover {
  background-color: #F06292;
}

::placeholder {
  color: #BBBBBB;
}
